.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
.*.swp
RcppExports.*
inst/doc
vignettes/*.html
vignettes/*.R
nobuild
docs
nobuild
pkgdown
_builds
_install
*.so
*.o
*.Rd
*.log
*.lock
CLONES
*.pdf
docs*
demo
